
@import url('https://fonts.googleapis.com/css2?family=Pridi:wght@300&display=swap');

body {
    background: rgb(240, 242, 245);
    min-width: 300px;
    height: 100%;
    /*
      background-image: url('../res/fondo.png');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    */
}

    body::-webkit-scrollbar {
        display: none;
    }

#wrapper {
    height: 100%;
}

/*------------------------------------------------------------------------------*/
/*main {
        width: 100%;
    }*/

#main_box {
    width: 100%;
    padding-bottom: 112px;
    padding-top: 72px;
}

#main_sub-box {
    /*background: rgb(200, 200, 200);*/
    height: 450px;
    margin: 0 auto;
    width: 80%;
    padding: 20px 0;
    position: relative;
    display: block;
}

#sub_left-box {
    display: inline-block;
    /*background: rgb(117, 144, 213);*/
    width: 60%;
    height: 100%;
}

#left-up {
    padding: 80px 0 16px 50px;
}
/*#logo {
                width: 40%;
            }*/
#left-down {
    font-family: 'Pridi', serif;
}

#sub_right-box {
    display: inline-block;
    /*background: rgb(130, 100, 200);*/
    width: 40%;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    float: right;
}

#form-box {
    height: 100%;
    /*background: rgb(0, 201, 175);*/
    background: rgb(44, 205, 222);
    /*background: rgb(0, 255, 149);*/
    padding-left: 30px;
    padding-right: 30px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 5px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
}

#form-icon {
    height: 134px;
    padding-top: 42px;
    padding-bottom: 40px;
    text-align: center;
}
/*------------------------------------------------------------------------------*/
footer {
    width: 100%;
    height: 70px;
    background: rgb(255, 255, 255);
    /*position: absolute;*/ position: fixed;
    bottom: 0px;
    z-index: 0;
}

#footer_box {
    text-align: right;
    font-size: 8px;
    margin-top: 20px;
    position: absolute;
    left: 80px;
}
/*------------------------------------------------------------------------------*/

@media screen and (max-width: 850px) {
    #sub_left-box {
        display: block;
        width: 100%;
    }

    #left-up {
        padding-left: 0px;
    }

    #logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #left-down {
        text-align: center;
    }

    #sub_right-box {
        display: block;
        width: 100%;
        float: left;
        margin-bottom: 170px;
    }
}

@media screen and (max-width: 500px) {
    #main_sub-box {
        width: 94%;
    }

    #logo {
        width: 70%;
    }
}
